<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book.serverAdmin.modelMapper.BookModelAdminMapper">

    <select id="fetchBookModelList" resultType="book.serverAdmin.model.BookModel">
        select book.*,tag.name as tagName
        from book
                 left join tag on book.tag_id=tag.id

    </select>



</mapper>
