<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book.server.modelMapper.BookModelMapper">

    <select id="fetchBookList" resultType="book.server.model.BookModel">
        select book.*,tag.name as tagName
        from book
        left join tag on book.tag_id=tag.id

    </select>

    <select id="fetchListByTagId" resultType="book.server.model.BookModel">
        select book.* ,tag.name as tagName
        from book
        left join tag on book.tag_id=tag.id
        where tag_id=#{tagId}
    </select>

    <select id="fetchListByNameAndAuthor" resultType="book.server.model.BookModel">
        select book.* ,tag.name as tagName
        from book
                 left join tag on book.tag_id=tag.id
        where book_name like "%"#{queryString}"%" or author like "%"#{queryString}"%"
    </select>

    <select id="fetchMyShelf" resultType="book.server.model.BookModel">
        select book.*
        from book
                 left join user_focus_book ufb on book.id=ufb.book_id
        where ufb.user_id=#{userId}
    </select>

</mapper>
